@import "~bootstrap/scss/bootstrap";

.custom-nav-link {
	text-decoration: none;
	color: white;
	padding: 0 0.8rem 0 0;
	&:hover {
		color: gray !important;
	}
}
.header-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.header-list-2 {
	display: flex;
	align-items: center;
}
